<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="script.js"></script>

<body>

  <h2>AngularJS Form Validation</h2>

  <form ng-app="myApp" ng-controller="validateCtrl" name="myForm" novalidate>

    <p>Username:
      <br>
      <input type="text" name="user" ng-model="user" required>
      <span style="color:red" ng-show="myForm.$submitted && myForm.user.$error.required">Username is required.</span>

    </p>

    <p>Email:
      <br>
      <input type="email" name="email" ng-model="email" ng-pattern="emailRegex" required>
      <span style="color:red" ng-show="(myForm.$submitted && myForm.email.$error.required) || (myForm.$submitted && myForm.email.$invalid)">Invalid email address.</span>

    </p>
    <p>ZipCode:
      <br>
      <input type="text" name="zipCode" ng-model="zipCode" ng-pattern="/^(\d{5}-\d{4}|\d*)$/" required>
      <span style="color:red" ng-show="(myForm.$submitted && myForm.zipCode.$error.required) || (myForm.$submitted && myForm.zipCode.$invalid)">Invalid Zip Code.</span>

    </p>

    <p>Phone Number:
      <br>
      <input type="text" name="phoneNumber" ng-model="phoneNumber" ng-pattern="phoneNumberRegex" maxlength="10" required>
      <span style="color:red" ng-show="(myForm.$submitted && myForm.phoneNumber.$error.required) || (myForm.$submitted && myForm.phoneNumber.$invalid)">Invalid Phone Number</span>

    </p>
    
    <p>Gender: 
      <input type="radio" name="gender" ng-model="gender" value="M" required>Male
      <input type="radio" name="gender" ng-model="gender" value="F" required>Female <br>
      <span ng-if="gender" style="color:blue">{{gender}} is selected</span>
      <span ng-show="myForm.$submitted && myForm.gender.$error.required" style="color:red">Please select a value</span>
      
    </p>
    <!-- Date of Birth with Validation -->
    <p>Date Of Birth:
     <!--  restricted dates 'min and max' may not work in the same way  -->
     <input type="date" name="dateOfBirth" ng-model="dateOfBirth"  min="oldDate" max="currentDate" required>
     
     <p>
       Date Status: Old Date is <span style="color: orange">{{oldDate | date}}</span> & current Date is <span style="color: green">{{currentDate | date}}</span> and <br> <span style="color: purple">selected date is {{dateOfBirth | date}}</span> 
     </p> 
     <p><span ng-show="myForm.$submitted && myForm.gender.$error.required" style="color:red">Please select valid date</span>
      <span ng-if="dateOfBirth < oldDate" style="color:red">Date of birth is too old</span>
      <span ng-if="dateOfBirth >= currentDate" style="color:red">Date of birth cant be future date</span>
    </p>

    <!-- select drop down -->

<p> Select a topic:
  <select ng-model="multiOption">
    <option value="">select
    <option value="healthcare">healthcare
    <option value="medicare">medicare
    <option value="payment">payment
  </select>
</p>
  <div>
  <div ng-if="multiOption == 'healthcare'">
    healthcare id: <input type="text" name="healthcare" ng-model='healthcareId'> <span style="color: brown; font-size: 35px"> {{healthcareId}}</span>
  </div>
  <div ng-if="multiOption == 'medicare'">
    medicare id: <input type="text" name="medicare" ng-model='medicareId'> <span style="color: brown; font-size: 35px"> {{medicareId}}</span>
  </div>
  <div ng-if="multiOption == 'payment'">
     select your payment option: 
    <select ng-model="selectedPayment" ng-options="x for (x, y) in paymentOption"> 
</select>
<p>Payment Option selected is <b style="color:brown; font-size: 35px">{{selectedPayment}}</b>

  </div>
</div>



<br>

    <p> Tick to copy above details to below input-
      <br>
      <input type="checkbox" ng-model="checkAddress" ng-click="myFunc()" ng-checked="checkAddress">Copy Details
      <br>
    </p>



    <p>Username:
      <br>
      <input type="text" name="user1" ng-model="user1" required ng-disabled="checkAddress">
      <span style="color:red" ng-show="myForm.$submitted && myForm.user1.$error.required">Username is required.</span>

    </p>

    <p>Email:
      <br>
      <input type="email" name="email1" ng-model="email1" ng-pattern="emailRegex" ng-disabled="checkAddress" required>
      <span style="color:red" ng-show="(myForm.$submitted && myForm.email1.$error.required) || (myForm.$submitted && myForm.email1.$invalid)">Invalid email address.</span>

    </p>
    <p>ZipCode:
      <br>
      <input type="text" name="zipCode1" ng-model="zipCode1" ng-pattern="/^(\d{5}-\d{4}|\d*)$/" ng-disabled="checkAddress" required>
      <span style="color:red" ng-show="(myForm.$submitted && myForm.zipCode1.$error.required) || (myForm.$submitted && myForm.zipCode1.$invalid)">Invalid Zip Code.</span>

    </p>


    <p>
      <input type="submit">
    </p>
  </form>

</body>

</html>